@model EmployeeWeb2.Models.EmployeeViewModel
@{
    ViewBag.Title = "Employee Profile";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="panel panel-default">
    <div class="panel-heading">User Details</div>
    <div class="panel-body">

        @Html.LabelFor(m => m.user.username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.user.username, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.user.email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.user.email, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.user.first_name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.user.first_name, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.user.last_name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.user.last_name, new { @class = "form-control" })
        </div>
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.user.is_active)
                @Html.LabelFor(m => m.user.is_active)
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.user.is_staff)
                @Html.LabelFor(m => m.user.is_staff)
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.user.is_superuser)
                @Html.LabelFor(m => m.user.is_superuser)
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Employee Details</div>
    <div class="panel-body">

        @Html.LabelFor(m => m.phone_number, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.phone_number, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.github_user, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.github_user, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.birth_date, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.birth_date, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.gender_display, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.gender_display, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.race_display, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.race_display, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.years_worked, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.years_worked, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.age, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.age, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.days_to_birthday, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.days_to_birthday, new { @class = "form-control" })
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Position</div>
    <div class="panel-body">
        @Html.LabelFor(m => m.position.name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.position.name, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.position.level, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.position.level, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.position.sort, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.position.sort, new { @class = "form-control" })
        </div>
    </div>
</div>
<hr />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
