@model EmployeeWeb2.Models.EmployeeFilterViewModel
@{
    ViewBag.Title = "Employees";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@using (Html.BeginForm("Index", "Employee", FormMethod.Post))
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Filter</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">
                        @Html.LabelFor(m => m.Race)
                        @Html.EnumDropDownListFor(m => m.Race, "-- Please Select --", new { @class = "form-control" })
                    </li>
                    <li class="list-group-item">
                        @Html.LabelFor(m => m.Gender)
                        @Html.EnumDropDownListFor(m => m.Gender, "-- Please Select --", new { @class = "form-control" })
                    </li>
                    <li class="list-group-item">
                        @Html.LabelFor(m => m.Position)
                        @Html.EnumDropDownListFor(m => m.Position, "-- Please Select --", new { @class = "form-control" })
                    </li>
                    <li class="list-group-item">
                        @Html.LabelFor(m => m.BirthDateRange)
                        @Html.EnumDropDownListFor(m => m.BirthDateRange, "-- Please Select --", new { @class = "form-control" })
                    </li>
                    <li class="list-group-item">
                        @Html.LabelFor(m => m.StartDateRange)
                        @Html.EnumDropDownListFor(m => m.StartDateRange, "-- Please Select --", new { @class = "form-control" })
                    </li>
                    <li class="list-group-item">
                        @Html.LabelFor(m => m.UserId)
                        @Html.DropDownListFor(m => m.UserId, new SelectList(Model.Users, "Value", "Text"), new { @class = "form-control" })
                    </li>
                    <li class="list-group-item">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </li>
                    <li class="list-group-item">
                        <input type="submit" value="Filter" class="btn  btn-primary btn-block" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Employees[0].race_display)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Employees[0].position.name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Employees[0].gender_display)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Employees[0].user.username)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Employees[0].birth_date)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Employees[0].user.email)</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.user.last_name) &nbsp; @Html.DisplayFor(modelItem => item.user.first_name)</td>
                    <td>@Html.DisplayFor(modelItem => item.race_display)</td>
                    <td>@Html.DisplayFor(modelItem => item.position.name)</td>
                    <td>@Html.DisplayFor(modelItem => item.gender_display)</td>
                    <td>@Html.DisplayFor(modelItem => item.user.username)</td>
                    <td>@Html.DisplayFor(modelItem => item.birth_date)</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.user.email))
                        {
                            <a href="mailto:@item.user.email">@item.user.email</a>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("View", "Details", new { id = item.user.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<hr />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
